@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>個股速覽</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/data-transformer/0.1.12/data-transformer-browser.min.js"></script>
    <script>
        //start to Auto Browser Stocks
        var autoStatus = false;
        var currentIndex = 0;
        var timeoutId = null;
        var second = 4000;
        window.autoStockStart = function () {
            autoStatus = !autoStatus;
            var btnAutoPlay = document.getElementById("autoPlay");
            if (autoStatus) {
                currentIndex = document.getElementById("stockList").selectedIndex;
                var parsed = parseInt(document.getElementById("number").value);
                second = parsed * 1000

                btnAutoPlay.value = "停止瀏覽股票";
                timeoutId = window.setInterval((() => setUrl()), second);
            } else {
                btnAutoPlay.value = "自動瀏覽股票";
                clearInterval(timeoutId);
            }
        }

        function setUrl() {
            var list = document.getElementById("stockList");
            //var url =  "http://5850web.moneydj.com/z/zc/zcx/zcxNew_" + list.options[currentIndex].value + ".djhtm"
            //var url = "https://fubon-ebrokerdj.fbs.com.tw/Z/ZC/ZCX/ZCX_" + list.options[currentIndex].value + ".djhtm";
            //var url = "https://www.cmoney.tw/follow/channel/stock-" + list.options[currentIndex].value + "?chart=d";
            //var url = "https://concords.moneydj.com/Z/ZC/ZCX/ZCX_" +list.options[currentIndex].value+ ".djhtm";

            if (currentIndex < 0) {
                currentIndex = 0;
            }
            currentStockId = list.options[currentIndex].value;
            currentUrl = urls[currentUrlIndex];
            var url = currentUrl.replace('{0}', currentStockId);

            document.getElementById("StockPage").src = url;
            list.value = list.options[currentIndex].value;
            currentIndex++;
        }

        function goTo104Page() {
            var url = "https://www.104.com.tw/jobs/search/?keyword=" + getName();
             window.open(url, '_blank').focus();
        }

        function goToWikiPedia() {
            var url = "https://www.moneydj.com/KMDJ/search/list.aspx?_QueryType_=WK&_Query_=" + getName();
            document.getElementById("StockPage").src = url;
        }

        function getName() {
            var list = document.getElementById("stockList");
            var s = list.options[list.selectedIndex];
            var startIndex = s.innerText.indexOf('-') + 2;
            var endIndex = s.innerText.indexOf('(') - 1;
            var name = s.innerText.substring(startIndex, endIndex)
            return name;
        }
        //End Auto Browser Stocks

        var urls = {
            1: 'https://fubon-ebrokerdj.fbs.com.tw/Z/ZC/ZCX/ZCX_{0}.djhtm',
            2: 'https://fubon-ebrokerdj.fbs.com.tw/z/zc/zco/zco_{0}.djhtm',
            3: 'https://www.cnyes.com/twstock/Margin/{0}.htm',
            4: 'https://www.cmoney.tw/follow/channel/stock-{0}?chart=d',
            5: 'https://www.fugle.tw/ai/{0}?p=2460385721&perfect=true',
            6: 'https://statementdog.com/analysis/tpe/{0}/stock-health-check',
            7: 'http://www.fortunengine.com.tw/evaluator.aspx?menu=on&scode={0}'
        };

        var currentUrlIndex = 1
        var currentStockId = "1101";
        var currentUrl = "https://fubon-ebrokerdj.fbs.com.tw/Z/ZC/ZCX/ZCX_{0}.djhtm";

        function onStockChangeAsync(obj) {
            currentStockId = obj.value
            goToUrl();
        }
        
        function onUrlChangeAsync(index) {
            currentUrlIndex = index;
            goToUrl();
        }

        function goToUrl() {
            currentUrl = urls[currentUrlIndex];
            var url = currentUrl.replace('{0}', currentStockId);

            if (currentUrlIndex >= 5) {
                window.open(url, '_blank').focus();
            }
            else {
                document.getElementById("StockPage").src = url
            }
        }
        //start to Auto Browser Stocks
        function onFindStockId(event) {
            if (window.event.key === "Enter") {
                var stockId = event.value;
                var stockList = document.getElementById("stockList");
                var find = false;
                for (var i = 0; i < stockList.options.length; i++) {
                    if (stockList.options[i].value == stockId) {
                        stockList.value = stockId;
                        currentStockId = stockId;
                        goToUrl();
                        find = true;
                    }
                }

                if (find == false) {
                    event.placeholder = stockId + " not found!!"
                    event.value = "";
                    window.setTimeout((() => {
                        event.placeholder = "輸入stockId找股票" 
                    }), 3000);
                }
            }
        }

        function selectStock() {
            DotNet.invokeMethodAsync('BlazorApp', 'SetBestStockAsync', currentStockId, "頁面選股", "test")
            .then(data => {
              console.log(data);
          });
        }

        function onSetCurrentIndex() {
            currentUrlIndex = 1;
        }

        function goToStockMaster() {
            var list = document.getElementById("chooseStockList");
            if (list.selectedIndex > 0) {
                 window.open(list.value, '_blank').focus();
            }
        }
    </script>
</body>
</html>
