@page "/Prices"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>個股速覽</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
</head>
<body>
    @*<link href="css/table.css" rel="stylesheet" />*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/data-transformer/0.1.12/data-transformer-browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="~/js/price.js"></script>
    <style>
       tr:hover td {
            background-color: yellow;
        }
    </style>

    <div>營收比重:<span id="income"></span></div>
    <div>住址:<span id="address"></span></div>
    <div>股本:<span id="asset"></span>億</div>
    <div><a id="website" href="" target="_blank">網站</a></div>
    <div id="address"></div>
    <div id="textExample" class="container">
        <table class="table table-bordered responsive-table" style="width:1500px;position:relative;left:-180px;font-size:10px;">
            <thead>
                <tr>
                    <th>名稱</th>
                    <th>日期</th>
                    <th>收盤</th>
                    <th>量</th>
                    <th>漲跌</th>
                    <th>百分比</th>
                    <th>融資</th>
                    <th>融資比例</th>
                    <th>外資持股</th>
                    <th>外資</th>
                    <th>投信</th>
                    <th>自營</th>
                    <th>主力</th>
                    <th>本益比</th>
                    <th>籌碼集中度</th>
                    <th>周轉率</th>
                </tr>
            </thead>
            <tr v-for="price in Prices">
                <td>{{price.name}}</td>
                <td>{{price.datetime}}</td>
                <td v-bind:style="{ color: price.updownColor}">{{price.close}}</td>
                <td>{{price.成交量}}</td>
                <td v-bind:style="{ color: price.updownColor}">{{price.漲跌}}</td>
                <td v-bind:style="{ color: price.pColor}">{{price.漲跌百分比}}%</td>
                <td v-bind:style="{ color: price.lColor}">{{price.融資買賣超}}</td>
                <td>{{price.融資使用率}}%</td>
                <td>{{price.外資持股比重}}%</td>
                <td v-bind:style="{ color: price.fColor}">{{price.外資買賣超}}</td>
                <td v-bind:style="{ color: price.tColor}">{{price.投信買賣超}}</td>
                <td v-bind:style="{ color: price.zColor}">{{price.自營商買賣超}}</td>
                <td v-bind:style="{ color: price.mColor}">{{price.主力買賣超}}</td>
                <td>{{price.本益比}}</td>
                <td v-bind:style="{ color: price.chipColor}">{{price.籌碼集中度}}%</td>
                <td>{{price.周轉率}}%</td>
            </tr>
        </table>
    </div>
</body>
</html>
