@page "/Prices"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>股票分析</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.16.0/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/data-transformer/0.1.12/data-transformer-browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="~/js/price.js"></script>
    <style>
        .container tr:hover td {
            background-color: yellow;
        }
    </style>

    <table>
        <tr>
            <td width="350px">
                <div>股票名稱:<span id="stockName"></span></div>
                <div>營收比重:<span id="income"></span></div>
                <div>住址:<span id="address"></span></div>
                <div>
                    股本:<span id="asset"></span>億,&nbsp;&nbsp;
                    每股淨值:<span id="cValue"></span>,&nbsp;&nbsp;
                    每股盈餘:<span id="YValue"></span>
                </div>
                <div>
                    股價:&nbsp;<span id="price"></span>&nbsp;&nbsp;
                </div>
                <div>
                    <a id="website" href="" target="_blank">網站</a>
                    ROE:&nbsp;<span id="roe"></span>&nbsp;&nbsp;
                    ROA:&nbsp;<span id="roa"></span>
                </div>
            </td>
            <td>
                <div id="month" class="container">
                    <table style="font-size: 10px;border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid orange">日期</th>
                                <th style="border: 1px solid orange">單月年增率</th>
                                <th style="border: 1px solid orange">累積年增率</th>
                                <th style="border: 1px solid orange">ROE</th>
                                <th style="border: 1px solid orange">ROA</th>
                            </tr>
                        </thead>
                        <tr v-for="month in Months">
                            <td style="border: 1px solid orange">{{month.datetime}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: month.updownColor}">{{month.單月年增率}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: month.cColor}">{{month.累積年增率}}</td>
                            <td style="border: 1px solid orange">{{month.roe}}</td>
                            <td style="border: 1px solid orange">{{month.roa}}</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <div id="weekChip" class="container">
                    <table style="font-size: 10px;border-collapse: collapse;">
                        <thead>
                            <tr style="border: 1px solid orange">
                                <th style="border: 1px solid orange">日期</th>
                                <th style="border: 1px solid orange">100張↓</th>
                                <th style="border: 1px solid orange">100~400</th>
                                <th style="border: 1px solid orange">400~1000</th>
                                <th style="border: 1px solid orange">1000張↑</th>
                                <th style="border: 1px solid orange">收盤價</th>
                            </tr>
                        </thead>
                        <tr v-for="weekChip in WeekChips">
                            <td style="border: 1px solid orange">{{weekChip.datetime}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: weekChip.sColor}">{{weekChip.pUnder100}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: weekChip.p400DownColor}">{{weekChip.pUnder400}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: weekChip.p400UpColor}">{{weekChip.pOver400}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: weekChip.bColor}">{{weekChip.pOver1000}}</td>
                            <td style="border: 1px solid orange" v-bind:style="{ color: weekChip.updownColor}">{{weekChip.close}}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div>
        @*<table>
        <tr>
            <td>*@
        <table id="textExample" class="table table-bordered responsive-table" style="font-size:10px;position:relative;">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>收盤</th>
                    <th>量</th>
                    <th>漲跌</th>
                    <th>百分比</th>
                    @*<th>董監增減</th>*@
                    <th>融資</th>
                    @*<th>融券</th>*@
                    <th>外資</th>
                    <th>投信</th>
                    @*<th>自營</th>*@
                    <th>主力</th>
                    <th>當天籌碼</th>
                    <th>10日籌碼</th>
                    <th>MA5</th>
                    <th>MA10</th>
                    <th>MA20</th>
                    <th>K9</th>
                    <th>D9</th>
                    <th>MACD</th>
                    <th>DIF</th>
                    <th>OSC</th>
                    @*<th>當沖張數</th>
        <th>當沖比例</th>
        <th>當沖總損益</th>
        <th>當沖均損益</th>*@
                    @*<th>本益比</th>*@
                    @*<th>淨值比</th>
        <th>周轉率</th>*@
                    @*<th>五日籌碼</th>
        <th>十日籌碼</th>
        <th>二十日籌碼</th>
        <th>六十日籌碼</th>*@
                </tr>
            </thead>
            <tr v-for="price in Prices">
                <td>{{price.datetime}}</td>
                <td v-bind:style="{ color: price.updownColor}">{{price.close}}</td>
                <td v-bind:style="{ fontWeight: price.zfontWeight}">{{price.成交量}}</td>
                <td v-bind:style="{ color: price.updownColor, fontWeight: price.fontWeight}">{{price.漲跌}}</td>
                <td v-bind:style="{ color: price.pColor, fontWeight: price.fontWeight}">{{price.漲跌百分比}}%</td>
                @*<td v-bind:style="{ color: price.dColor}">{{price.董監持股}} ({{price.董監持股比例}}%)</td>*@
                <td v-bind:style="{ color: price.lColor}">{{price.融資買賣超}}</td>
                @*<td v-bind:style="{ color: price.chColor}">{{price.融券買賣超}}</td>*@
                <td v-bind:style="{ color: price.fColor}">{{price.外資買賣超}}</td>
                <td v-bind:style="{ color: price.tColor}">{{price.投信買賣超}} ({{price.投信持股比例}}%)</td>
                @*<td v-bind:style="{ color: price.zColor}">{{price.自營商買賣超}}</td>*@
                <td v-bind:style="{ color: price.mColor}">{{price.主力買賣超}}</td>
                @*<td>{{price.本益比}}</td>*@
                @*<td>{{price.股價淨值比}}</td>*@
                @*<td>{{price.周轉率}}%</td>*@
                <td v-bind:style="{ color: price.chipColor, fontWeight: price.cfontWeight}">{{price.籌碼集中度}}%</td>
                <td v-bind:style="{ color: price.chip10Color, fontWeight: price.c10fontWeight}">{{price.十日籌碼集中度}}%</td>
                <td v-bind:style="{ color: price.ma5Color}">{{price.mA5}}</td>
                <td v-bind:style="{ color: price.ma10Color}">{{price.mA10}}</td>
                <td v-bind:style="{ color: price.ma20Color}">{{price.mA20}}</td>
                <td v-bind:style="{ color: price.k9Color}">{{price.k9}}</td>
                <td v-bind:style="{ color: price.d9Color}">{{price.d9}}</td>
                <td v-bind:style="{ color: price.macdColor}">{{price.macd}}</td>
                <td v-bind:style="{ color: price.difColor}">{{price.dif}}</td>
                <td v-bind:style="{ color: price.oscColor}">{{price.osc}}</td>
                @*<td>{{price.當沖張數}}</td>
        <td>{{price.當沖比例}}%</td>
        <td>{{price.當沖總損益}}</td>
        <td>{{price.當沖均損益}}</td>*@
                @*<td>{{price.五日籌碼集中度}}%</td>
        <td>{{price.十日籌碼集中度}}%</td>
        <td>{{price.二十日籌碼集中度}}%</td>
        <td>{{price.六十日籌碼集中度}}%</td>*@
            </tr>
        </table>
        @*</td>
        <td valign="top" align="right">
             <iframe id="kChart" style="z-index:1;" width="600" height="900" scrolling="no" frameborder="0" />
         </td>
        </tr>
        </table>
            *@
    </div>
</body>
</html>