@page "/StockPhoto"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>股票分析</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/stock_photo.js"></script>
    <style>
        #content {
            position: absolute;
            left: -200px;
        }
    </style>
</head>
<body>
    <div id="content">
        <img id="imgPhoto" src="http://220.133.185.1/photo/2020-09-04/1101.png" />
    </div>
</body>
</html>
