@page "/stocks"
@using DataService.Models
@inject IDataLayer  DataLayer

@if (stocks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="column" style="width:20%; float: left">
            <select>

                @foreach (var stock in stocks)
                            {
                <option id="@stock.StockId">@stock.StockId - @stock.Name (@stock.Industry)</option>
                            }

            </select>

        </div>
        <div class="column" style="width:60%">
            <iframe id="StockPage" scrolling="auto" width="1000" height="1000" frameborder="0" src="https://fubon-ebrokerdj.fbs.com.tw/z/zc/zco/zco_3211.djhtm" />
        </div>
        <div class="column"></div>
    </div>

}


@code{


    Stocks[] stocks;
    protected override async Task OnInitializedAsync()
    {
        stocks = DataLayer.GetStocks();
    }


}

@functions{

    string stockId;
    void OnStockChange(ChangeEventArgs e)
    {
        stockId = (string)e.Value;
    }
}