USE [StockDb]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2019/10/1 下午 06:45:36 ******/
DROP TABLE [dbo].[Stocks]
GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 2019/10/1 下午 06:45:36 ******/
DROP TABLE [dbo].[Seasons]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 2019/10/1 下午 06:45:36 ******/
DROP TABLE [dbo].[Prices]
GO
/****** Object:  Table [dbo].[Infomations]    Script Date: 2019/10/1 下午 06:45:36 ******/
DROP TABLE [dbo].[Infomations]
GO
/****** Object:  Table [dbo].[Infomations]    Script Date: 2019/10/1 下午 06:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infomations](
	[StockId] [varchar](8) NOT NULL,
	[PriceEarningRatio] [numeric](18, 2) NULL,
	[EarningsPerShare] [numeric](18, 2) NULL,
	[PriceBookRatio] [numeric](18, 2) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[SerialNumber] [int] NOT NULL,
	[Time] [varchar](8) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prices]    Script Date: 2019/10/1 下午 06:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[StockId] [varchar](8) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[High] [numeric](18, 2) NOT NULL,
	[Low] [numeric](18, 2) NOT NULL,
	[Open] [numeric](18, 2) NOT NULL,
	[Close] [numeric](18, 2) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
	[融資買進] [int] NULL,
	[融資賣出] [int] NULL,
	[融資現償] [int] NULL,
	[融資餘額] [int] NULL,
	[融資限額] [int] NULL,
	[融資使用率] [numeric](18, 2) NULL,
	[融券買進] [int] NULL,
	[融券賣出] [int] NULL,
	[融券券償] [int] NULL,
	[融券餘額] [int] NULL,
	[券資比] [int] NULL,
	[資券相抵] [int] NULL,
	[外資持股] [int] NULL,
	[外資持股比例] [numeric](18, 2) NULL,
	[外資買賣超] [int] NULL,
	[投信持股] [int] NULL,
	[投信買賣超] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 2019/10/1 下午 06:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seasons](
	[每股現金流量] [int] NULL,
	[每股盈餘] [numeric](18, 2) NULL,
	[負債比率] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 2019/10/1 下午 06:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [uniqueidentifier] NOT NULL,
	[StockId] [varchar](8) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MarketCategory] [nvarchar](50) NOT NULL,
	[Industry] [nvarchar](50) NOT NULL,
	[ListingOn] [datetimeoffset](7) NOT NULL,
	[CreatedOn] [datetimeoffset](7) NOT NULL,
	[UpdatedOn] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Stocks] ([Id], [StockId], [Name], [MarketCategory], [Industry], [ListingOn], [CreatedOn], [UpdatedOn]) VALUES (N'806d4394-4df9-4954-b381-0020d2b594c5', N'5523', N'豐謙', N'上櫃', N'建材營造業', CAST(N'1999-12-27T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2019-09-02T16:45:38.8898183+08:00' AS DateTimeOffset), CAST(N'2019-09-02T16:45:38.8898183+08:00' AS DateTimeOffset))
INSERT [dbo].[Stocks] ([Id], [StockId], [Name], [MarketCategory], [Industry], [ListingOn], [CreatedOn], [UpdatedOn]) VALUES (N'077eb727-912b-4ea6-87bd-0021718aa140', N'5403', N'中菲', N'上櫃', N'資訊服務業', CAST(N'1999-10-15T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2019-09-02T16:45:38.8598348+08:00' AS DateTimeOffset), CAST(N'2019-09-02T16:45:38.8598348+08:00' AS DateTimeOffset))
INSERT [dbo].[Stocks] ([Id], [StockId], [Name], [MarketCategory], [Industry], [ListingOn], [CreatedOn], [UpdatedOn]) VALUES (N'f8596696-ef00-4b18-874d-00cdf244e426', N'6417', N'韋僑', N'上櫃', N'通信網路業', CAST(N'2015-10-08T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'2019-09-02T16:45:38.9618219+08:00' AS DateTimeOffset), CAST(N'2019-09-02T16:45:38.9618219+08:00' AS DateTimeOffset))
GO
