@inherits LayoutComponentBase

<div class="row">
    <div id="columnLeft" class="column">
        <select id="selectStockType" onchange="onSelectTypeChange()"></select>
        <select id="selectDateList" onchange="onGetStocksByDate()"></select>
        <select id="selectRankType" onchange="onGetStocksByDate()">
            <option value="0">----選股----</option>
            <option value="1">一日漲幅排行</option>
            <option value="2">五日漲幅排行</option>
            <option value="3">外資投信同步買超排行</option>
            <option value="13">外資連續買超排行榜</option>
            <option value="4">投信連續買超排行榜</option>
            <option value="14">買方籌碼集中度排行榜</option>
            <option value="16">董監買賣超排行榜</option>
            <option value="15">集保庫存增加排行榜</option>
            <option value="17">連續十二月單月年增率成長</option>
            <option value="18">半年線附近</option>
            <option value="19">大戶增加散戶減少</option>
            <option value="5">外資買超排行</option>
            <option value="6">投信買超排行</option>
            <option value="7">自營商買超排行</option>
            <option value="8">融資買超排行</option>
            <option value="9">融券賣超排行</option>


            <option value="11">CMoney選股</option>
            <option value="12">財報狗選股</option>

            <option value="-1">一日跌幅排行</option>
            <option value="-2">五日跌幅排行</option>
            <option value="-3">外資投信同步賣超排行</option>
            <option value="-13">外資連續賣超排行榜</option>
            <option value="-4">投信連續賣超排行榜</option>
            <option value="-14">賣方籌碼集中度排行榜</option>
            <option value="-5">外資賣超排行</option>
            <option value="-6">投信賣超排行</option>
            <option value="-7">自營商賣超排行</option>
            <option value="-8">融資賣超排行</option>
            <option value="-9">融券買超排行</option>
        </select>
        <select id="stockList" size="30" onchange="onStockChangeAsync(this)"></select>
        <input id="txtChosenStockType" list="chosenStockType" type="text" placeholder="選股類型" />
        <input id="btnClear" type="button" class="fa fa-close" value="清空" onclick="onClear()" />
        <datalist id="chosenStockType"></datalist>
        <input id="btnSelectStock" type="button" value="加入選股" onclick="chooseStock()" />
        <input id="btnRemoveStock" type="button" value="移除選股" onclick="removeStock()" />
        <br />
    </div>
    <div id="columnCenter" class="column">
        <iframe id="StockPage" scrolling="auto" width="1500" height="1000" src="https://concords.moneydj.com/z/zc/zca/zca_1101.djhtm" frameborder="0" />
    </div>
    <div id="columnRight" class="column">
        <div>
            <LoginDisplay />
            <div>
                <input type="button" value="個股速覽" onclick="onUrlChangeAsync(1)" />
                <input type="button" value="每日資訊" onclick="onUrlChangeAsync(2)" />
                <input type="button" value="基本資料" onclick="onUrlChangeAsync(3)" />
                <input type="button" value="主力進出" onclick="onUrlChangeAsync(4)" />
                <input type="button" value="法人持股" onclick="onUrlChangeAsync(5)" />
                <input type="button" value="CMoney" onclick="onUrlChangeAsync(6)" />
                <input type="button" value="CMoney法人" onclick="onUrlChangeAsync(7)" />
                <input type="button" value="CMoney主力" onclick="onUrlChangeAsync(8)" />
                <input type="button" value="籌碼K線" onclick="onUrlChangeAsync(9)" />
                <input type="button" value="資產負債表" onclick="onUrlChangeAsync(10)" />
                <input type="button" value="集保分布" onclick="onUrlChangeAsync(11)" />
                <input type="button" value="每月營收" onclick="onUrlChangeAsync(12)" />
                <input type="button" value="融資融券" onclick="onUrlChangeAsync(13)" />
                <input type="button" value="個股新聞" onclick="onUrlChangeAsync(14)" />
                <input type="button" value="財報狗" onclick="onUrlChangeAsync(15)" />
                <input type="button" value="Fugle" onclick="onUrlChangeAsync(16)" />
                <input type="button" value="網龍大富翁" onclick="onUrlChangeAsync(17)" />
                <input type="button" value="104" onclick="goTo104Page()" />
                <input type="button" value="財經百科" onclick="goToWikiPedia()" />
            </div>
            <div>
                <input id="number" type="number" min="1" max="10" size="1" value="4">秒
                <input id="autoPlay" type="button" value="自動瀏覽股票" onclick="window.autoStockStart()" />
            </div>
            <br />
            <div>
                <input id="stockFinder" type="search" onkeydown="onFindStockId(this)" placeholder="輸入編號" />
                <br />
                <select id="chooseStockList" onchange="goToStockMaster()">
                    <option value="0">-選股網站-</option>
                    <option value="http://jsjustweb.jihsun.com.tw/Z/ZG/ZGK_DD.djhtm">投信選股</option>
                    <option value="https://fubon-ebrokerdj.fbs.com.tw/z/zg/zg_A_0_20.djhtm">漲幅選股</option>
                    <option value="https://concords.moneydj.com/z/zk/zk0/zkmain_2_3.djhtm">基本面選股</option>
                    <option value="http://justdata.yuanta.com.tw/z/zk/zkf/zkExpert_F.asp">選股專家</option>
                    <option value="http://jsjustweb.jihsun.com.tw/z/zk/zkMap.htm">選股網路地圖</option>
                    <option value="https://www.cmoney.tw/screeners/">選股網</option>
                    <option value="https://www.masterhsiao.com.tw/MagicMirror/MagicMirror.php">股票照妖鏡</option>
                </select>
            </div>
        </div>
    </div>
</div>