@inherits LayoutComponentBase

<div class="row">
    <div id="columnLeft" class="column">
        <select id="selectStockType" onchange="onSelectTypeChange()"></select>
        <select id="selectDateList" onchange="onGetStocksByDate(0)"></select>
        <select id="selectBestType" onchange="onGetStocksByDate(1)"></select>
        <select id="selectRankType" onchange="onGetStocksByDate(2)">
            <option value="0">----選股----</option>
            <option value="36">★每周投信買散戶賣★</option>
            <option value="38">★投信突然進前20名★</option>
            <option value="41">★投量比+主力買超★</option>
            <option value="14">★當日買方籌碼集中度排行榜★</option>
            <option value="3">★外資投信同步買超排行★</option>
            <option value="47">★上漲破五日均★</option>
            <option value="50">★上漲破月線★</option>
            <option value="40">★漲停板★</option>
            <option value="51">★MACD和KD同時轉上★</option>
            <option value="52">★盤整突破★</option>
            <option value="1">一日漲幅排行</option>
            <option value="2">五日漲幅排行</option>
            <option value="23">二十日漲幅排行</option>

            <option value="30">四十日漲幅排行</option>
            <option value="24">五日買方籌碼集中度排行榜</option>
            <option value="25">十日買方籌碼集中度排行榜</option>
            <option value="26">二十日買方籌碼集中度排行榜</option>
            <option value="27">六十日買方籌碼集中度排行榜</option>
            @*@* <option value="31">六十日漲幅排行</option>*@
            <option value="29">每周成交量增長排行榜</option>
            <option value="45">多頭開始排列</option>
            <option value="46">三天漲20%</option>
            <option value="49">三天漲20%且投信買超</option>
            <option value="48">連續兩天漲停板</option>
            @*<option value="33">ROE大於15且股價小於50</option>
        <option value="34">淨值比小於2且ROE大於10</option>*@
            @*<option value="42">==當沖比例==</option>
        <option value="43">==當沖總損益==</option>
        <option value="44">==當沖均損益==</option>*@
            <option value="35">投信突然加入買方</option>
            <option value="39">外資突然進前20名</option>
            <option value="21">外資主力同步買超排行</option>
            <option value="37">連續上漲天數排行榜</option>
            <option value="13">外資連續買超排行榜</option>
            <option value="4">投信連續買超排行榜</option>
            <option value="22">主力連續買超排行榜</option>
            <option value="32">融資連續買超排行榜</option>

            <option value="16">董監買賣超排行榜</option>
            <option value="20">**當週大戶比例增加**</option>
            <option value="15">**連續兩週大戶增散戶減**</option>
            <option value="19">**連續大戶增加**</option>

            <option value="17">連續十二月單月年增率成長</option>
            <option value="28">近月營收累積年增率成長</option>
            <option value="18">半年線附近</option>
            <option value="5">外資買超排行</option>
            <option value="6">投信買超排行</option>
            <option value="7">自營商買超排行</option>
            <option value="8">融資買超排行</option>
            <option value="9">融券賣超排行</option>
            <option value="-1">一日跌幅排行</option>
            <option value="-2">五日跌幅排行</option>
            <option value="-3">外資投信同步賣超排行</option>
            <option value="-13">外資連續賣超排行榜</option>
            <option value="-4">投信連續賣超排行榜</option>
            <option value="-22">主力連續賣超排行榜</option>
            <option value="-32">融資連續賣超排行榜</option>
            <option value="-14">當日賣方籌碼集中度排行榜</option>
            <option value="-24">五日賣方籌碼集中度排行榜</option>
            <option value="-25">十日賣方籌碼集中度排行榜</option>
            <option value="-26">二十日賣方籌碼集中度排行榜</option>
            <option value="-5">外資賣超排行</option>
            <option value="-6">投信賣超排行</option>
            <option value="-7">自營商賣超排行</option>
            <option value="-8">融資賣超排行</option>
            <option value="-9">融券買超排行</option>
        </select>
        <select id="stockList" size="20" onchange="onStockChangeAsync(this)"></select>
        <input id="txtChosenStockType" list="chosenStockType" type="text" placeholder="選股類型" />
        <input id="btnClear" type="button" class="fa fa-close" value="清空" onclick="onClear()" />
        <input id="chkDate" type="checkbox" value="日期過濾" />
        <datalist id="chosenStockType"></datalist>
        <input id="btnSelectStock" type="button" value="加入選股" onclick="chooseStock()" />
        <input id="btnRemoveStock" type="button" value="移除選股" onclick="removeStock()" />

        <select id="choosePeriod" onchange="onPeriodChangeAsync(this)">
            <option value="0">-選週期-</option>
            <option value="-7">5日主力</option>
            <option value="-14">10日主力</option>
            <option value="-30">20日主力</option>
            <option value="-45">40日主力</option>
            <option value="-90">60日主力</option>
            <option value="-180">120日主力</option>
            <option value="-240">180日主力</option>
        </select>
        <select id="brokerList" onchange="onBrokerChangeAsync(this)">
            <option value="0">-券商-</option>
        </select>

        <input id="btnGetBrokers" type="button" value="券商分點" onclick="getBroker()" />
        <input id="btnBrokerBuy" type="button" value="券商買賣" onclick="getBrokerBuy()" />
        <br />
    </div>
    <div id="columnCenter" class="column">
        <iframe id="StockPage" scrolling="auto" width="1500" height="1000" src="https://concords.moneydj.com/z/zc/zca/zca_1101.djhtm" frameborder="0" />
    </div>
    <div id="columnRight" class="column">
        <div>
            <div>
                <input type="button" value="大盤資訊" onclick="onUrlChangeAsync(0)" />
                <input type="button" value="個股速覽" onclick="onUrlChangeAsync(1)" />
                <input type="button" value="個股速覽2" onclick="onUrlChangeAsync(32)" />
                <input type="button" value="個股K線圖" onclick="onUrlChangeAsync(3)" />
                <input type="button" value="每日資訊" onclick="onUrlChangeAsync(2)" />
                <input type="button" value="主力進出" onclick="onUrlChangeAsync(4)" />
                <input type="button" value="法人持股" onclick="onUrlChangeAsync(5)" />
                <input type="button" class="btnCmoney" value="CMoney" onclick="onUrlChangeAsync(34)" />
                @*<input type="button" class="btnCmoney" value="CMoney即時" onclick="onUrlChangeAsync(3)" />
        <input type="button" class="btnCmoney" value="CMoney法人" onclick="onUrlChangeAsync(7)" />
        <input type="button" class="btnCmoney" value="CMoney主力" onclick="onUrlChangeAsync(8)" />*@
                <input type="button" class="btnCmoney" value="籌碼K線" onclick="onUrlChangeAsync(9)" />
                <input type="button" class="btnCmoney" value="玩股K線" onclick="onUrlChangeAsync(6)" />
                <input type="button" class="btnCmoney" value="玩股日線" onclick="onUrlChangeAsync(20)" />
                <input type="button" class="btnCmoney" value="玩股周線" onclick="onUrlChangeAsync(21)" />
                <input type="button" class="btnCmoney" value="玩股5分線" onclick="onUrlChangeAsync(22)" />
                <input type="button" class="btnCmoney" value="玩股15分線" onclick="onUrlChangeAsync(23)" />
                <input type="button" class="btnCmoney" value="玩股30分線" onclick="onUrlChangeAsync(24)" />
                <input type="button" class="btnCmoney" value="玩股60分線" onclick="onUrlChangeAsync(25)" />
                <input type="button" class="btnCmoney" value="淨值比" onclick="onUrlChangeAsync(10)" />
                @*<input type="button" class="btnCmoney" value="資產負債表" onclick="onUrlChangeAsync(11)" />*@
                @*<input type="button" class="btnCmoney" value="集保分布" onclick="onUrlChangeAsync(12)" />*@
                <input type="button" class="btnCmoney" value="季報表" onclick="onUrlChangeAsync(13)" />
                <input type="button" class="btnCmoney" value="每月營收" onclick="onUrlChangeAsync(14)" />
                @*<input type="button" value="融資融券" onclick="onUrlChangeAsync(15)" />*@
                <input type="button" value="個股新聞" onclick="onUrlChangeAsync(16)" />
                @*<input type="button" value="股利政策" onclick="onUrlChangeAsync(17)" />*@
                <input type="button" value="財報狗" onclick="onUrlChangeAsync(30)" />
                <input type="button" value="104" onclick="goTo104Page()" />
                <input type="button" value="財經百科" onclick="goToWikiPedia()" />
            </div>
            <div>
                <input id="number" type="number" min="1" max="10" size="1" value="4">秒
                <input id="autoPlay" type="button" value="自動瀏覽股票" onclick="window.autoStockStart()" />
            </div>
            <br />
            <div>
                <input id="stockFinder" type="search" onkeydown="onFindStockId(this)" placeholder="輸入編號" />
                <br />
                <select id="chooseStockList" onchange="goToStockMaster()">
                    <option value="0">-選股網站-</option>
                    <option value="http://jsjustweb.jihsun.com.tw/Z/ZG/ZGK_DD.djhtm">投信選股</option>
                    <option value="https://fubon-ebrokerdj.fbs.com.tw/z/zg/zg_A_0_20.djhtm">漲幅選股</option>
                    <option value="https://concords.moneydj.com/z/zk/zk0/zkmain_2_3.djhtm">基本面選股</option>
                    <option value="http://justdata.yuanta.com.tw/z/zk/zkf/zkExpert_F.asp">選股專家</option>
                    <option value="http://jsjustweb.jihsun.com.tw/z/zk/zkMap.htm">選股網路地圖</option>
                    <option value="https://www.cmoney.tw/screeners/">選股網</option>
                    <option value="https://www.masterhsiao.com.tw/MagicMirror/MagicMirror.php">股票照妖鏡</option>
                </select>
            </div>
        </div>
    </div>
</div>